html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-width: 45rem;
    background-color: #fafafa;
}

header,
main,
footer {
    width: 100%;
    min-width: 45rem;
    overflow-x: hidden;
}

@media(max-width:768px) {
    .container {
        padding: 0 4rem;
    }
}

/*导航栏顶部开始*/
.top-white {
    line-height: 4rem;
    background-color: #fff;
    color: #29b078;
}

.top-white > .container > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-white > .container > .row::before,
.top-white > .container > .row::after {
    content: none;
}

.btn-group-sm > .btn-sm {
    border: 0;
    border-radius: 0;
    outline: none !important;
    box-shadow: none;
    background-color: transparent;
}
/*导航栏顶端结束*/

/*导航栏开始*/
.navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.6rem;
    background-color: #29b078;
}

.navbar-toggle {
    margin-top: 3.3rem;
    background-color: #fff;
}

.navbar-brand {
    height: inherit;
    padding: 2.5rem 1.5rem;
    border: 0;
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
}

.navbar-nav {
    margin: 0 -3.5rem;
}

.navbar-nav > li > a {
    width: 8rem;
    margin: 0 auto;
    padding: 0;
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    line-height: 3rem;
    text-align: center;
    color: #fff !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 0 3.2rem;
        width: inherit;
        line-height: 9.2rem;
    }
}

.navbar-nav > .active > a {
    border-bottom-color: #fff;
    background-color: transparent !important;
    color: #fff !important;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:active {
    border-bottom-color: #fff;
    border-radius: 0;
    background-color: transparent;
}
/*导航栏结束*/

/*面包屑导航开始*/
.breadcrumb {
    padding: 3.2rem 0;
    margin: 0;
    border-bottom: 0.1rem solid #d0d6d9;
    border-radius: 0;
    background-color: transparent;
}

.breadcrumb > li > a {
    font-size: 1.6rem;
    color: #333;
}

.breadcrumb > .active {
    font-size: 1.6rem;
    color: #29b078;
}

.breadcrumb > li + li:before {
    color: #333;
    content: "> ";
    padding: 0;
}
/*面包屑导航结束*/

/*跳转按钮*/
.page {
    display: flex;
    align-items: center;
    padding:2rem 0;
    border-bottom: 0.1rem solid #edf1f2;
}

.page > span {
    white-space: nowrap;
    color: #999;
}

.page > .btn-group > .btn {
    margin: 0 1.2rem;
    padding: .4rem;
    border: 0;
    border-radius: 0;
    outline: none !important;
    box-shadow: none;
    background-color: #fafafa;
    color: #000;
}

.page > .btn-group > .active {
    width: 6.4rem;
    height: 2.8rem;
    text-align: justify !important;
    white-space: normal;
    overflow: hidden;
    background-color: #29b078;
    color: #fff;
}

@media (min-width: 620px) {
    .page > .btn-group > .active {
        width: 3.6rem;
        white-space: nowrap;
    }
}

.page > .btn-group > .active::after {
    display: inline-block;
    content: "";
    padding-left: 100%;
}
/*跳转按钮结束*/

/*职业列表开始*/
.panel {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

.panel-default > .panel-heading {
    padding: 3.2rem 0;
    border-color: #d0d6d9;
    background-color: transparent;
}

.panel-default > .panel-heading > .panel-title {
    font-weight: 700;
}

.panel-body {
    padding: 4.8rem 0 0 0;
}

.panel-body::before,
.panel-body::after {
    content: none;
}

.panel-body > .col-lg-4 {
    border-bottom: 0 !important;
    margin-bottom: 5rem;
}

.line {
    margin-top: -1.5rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 0.5rem #e2e2e2;
}

.none {
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    display: none;
    height: 100%;
    padding: 4rem;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 99;
}

.line:hover > .none {
    display: block;
}

.none > p {
    line-height: normal;
}

.none > p:first-child {
    padding: 4rem 0;
    margin-bottom: 0;
}

.media {
    padding: 2rem 1rem 1.6rem 1.1rem;
    border-bottom: .1rem solid #edf1f2;
}

.media-heading {
    margin-bottom: 1.8rem;
}

.media-body > p {
    font-size: 1.4rem;
    line-height: normal;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 0;
}

.container-fluid > .row > .col-md-6 {
    border-bottom: 0.1rem solid #edf1f2;
    font-size: 1.2rem;
    line-height: 4rem;
}

.container-fluid > .row > .col-md-6 > img {
    margin-right: 1rem;
}

.container-fluid > .row > .col-md-6 > span {
    margin-right: 1.2rem;
    color: #999;
}

.container-fluid > .row > .col-md-6 > label {
    margin-bottom: 0;
    color: #f01400;
}

.col-md-5 {
    font-size: 1.2rem;
    line-height: 4rem;
    border-bottom: 0.1rem solid #edf1f2;
    background-color: #fff;
    color: #999;
}

@media (min-width: 992px) {
    .col-md-5 {
        line-height: 10.5rem;
    }
}

.col-md-7 {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 3.5rem;
    border-bottom: 0.1rem solid #edf1f2;
}

.col-md-12 {
    padding: 0 1rem;
    line-height: 4rem;
    font-weight: 700;
}

.col-md-12 > label {
    margin-bottom: 0;
    color: #f01400;
}

.col-md-12 > span {
    font-size: 1.2rem;
    color: #999;
}
/*职业列表结束*/

/*底栏开始*/
.btmbar-center {
    width: 100%;
    border-top: 0.1rem solid #32c086;
    border-bottom: 0.1rem solid #32c086;
    background-color: #26a26f;
}

.jnshu,
.inter {
    padding: 0;
    border: 0;
    margin-bottom: 0;
    background-color: transparent;
}

.jnshu > p {
    margin-top: 3.4rem;
    margin-bottom: 6.8rem;
    font-size: 1.6rem;
    color: #fff;
}

.jnshu > ul {
    display: inline-block;
    padding: 0;
}

.jnshu > ul > li {
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 0.2rem solid #fff;
    float: left;
    list-style: none;
} 

.jnshu > ul > li:first-child {
    padding-left: 0;
} 

.jnshu > ul > li:last-child {
    border-right: 0;
}

.jnshu a {
    padding-bottom: 1.3rem;
    border-bottom: 0.1rem solid transparent;
    text-decoration: none;
    color: #fff;
}

.inter > p {
    margin-top: 3.4rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #fff;
}

.inter a {
    display: inline-block;
    padding-bottom: 0.6rem;
    margin-right: 3.4rem;
    margin-bottom: 1.3rem;
    border-bottom: 0.1rem solid transparent;
    text-decoration: none;
    color: #fff;
}

.sixth-row a:hover,
.sixth-row a:focus,
.sixth-row a:active {
    border-bottom-color: #fff;
}

.code {
    margin-top: 3.4rem;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.code > p {
    font-size: 1.6rem;
    color: #fff;
}

.code > img {
    margin: 0;
}

@media(min-width: 580px) {
    .sixth-row > .col-sm-5 {
        float: left;
        width: 41.66666667%;
    }

    .sixth-row > .col-sm-2 {
        float: left;
        width: 16.66666667%;
    }
}

@media(max-width: 580px) {
    .code {
        margin-top: 0;
    }

    .inter > p {
        margin-top: 0;
    }

    .jnshu > p {
        margin-top: 3.4rem;
        margin-bottom: 3.4rem;
    }
}
/*底栏结束*/

.btmbar3 {
    width: 100%;
    min-width: 45rem;
    line-height: 3rem;
    background-color: #26a26f;
    color: #fff;
}

.btmbar3 > p {
    margin-bottom: 0;
}