$MyBlue: #29bde0;

@import "first";

body{
    background-color: $MyBlue;
}

header {
    @include MinWidth(32.1rem);
    @include FixedBar;
    top: 0;
}

.top-bar {
    border-bottom: 0.1rem solid #74d4eb;
    background-color: $MyBlue;
    color: #fff;
    font-size: 1.7rem;
    line-height: 4.4rem;
    text-align: center;

    > a:first-child {
        display: inline-block;
        position: absolute;
        top: 1.25rem;
        left: 1rem;
        width: 2.6rem;
        height: 2.1rem;
        background-image: url(../spr.png);
        background-position-y: -12.3rem;
    }

    > p {
        letter-spacing: 0.2rem;
        text-indent: 0.2rem;
    }

    > a:last-child {
        display: inline-block;
        position: absolute;
        top: 1.25rem;
        right: 1rem;
        width: 2.6rem;
        height: 2rem;
        background-image: url(../spr.png);
        background-position: .6rem -10.3rem;
    }
}

main {
    @include MinWidth(32.1rem);
    position: absolute;
    top: 4.4rem;
}

.content {
    padding-left: 4rem;
    padding-right: 4rem;

    .title {
        height: 11.4rem;
        background-image: url(../main.png);
        background-repeat: no-repeat;
        background-position: center top;
    
        > h3 {
            position: relative;
            top: 6.4rem;
            margin-top: 1.2rem;
            font-size: 2.4rem;
            font-weight: 500;
            letter-spacing: 0.1rem;
            text-indent: 0.1rem;
            text-align: center;
            color: #fff;
        }
    }

    > p:nth-child(2) {
        margin-bottom: 3rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: #ffc865;
    }

    .result {
        margin-bottom: 1rem;
        font-size: 1.3rem;
        line-height: 2rem;
        color: #fff;
    }

    label {
        display: inline-flex;
        
        .identity {
            display: inline-block;
            width: 3.9rem;
            height: 1.8rem;
            text-align: justify;
            overflow: hidden;

            &::after {
                content: "";
                display: inline-block;
                width: 100%;
            }
        }

        .number {
            margin-right: 2rem;
        }

        &:nth-child(3){
            .number {
                margin-right: 0;
            }
        }
    }
}

@media(min-width: 610px) {
    .content > p:nth-child(2) {
        text-align: center;
    }
}

.line {
    padding: 0.7rem 4rem 0.6rem;
    border-bottom: 0.1rem solid #a6a6a6;
    background-color: #fff;

    > p {
        font-size: 1.3rem;
        line-height: 1.5;
        color: #a6a6a6;
    }

    > p:first-child {
        display: flex;
        justify-content: space-between;

        > span:first-child {
            font-size: 1.5rem;
            color: #515151;
        }

        > span:last-child {
            font-size: 1.2rem;
        }
    }
}

footer {
    @include MinWidth(32.1rem);
    @include FixedBar;
    bottom: 0;
    display: flex;
    padding: 1.2rem 0;
    background-color: rgba(41,189,224,0.5);

    > button {
        flex: 1;
        height: 4.3rem;
        margin: 0 1.2rem;
        border-radius: 0.5rem;
        background-color: #fbb435;
        color: #fff;
    }

    > button:first-child {
        background-color: #f66f6f;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            line-height: 4.3rem;
            color: #fff;
        }
    }
}