html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #60d1e0;
}

.back {
    position: relative;
    left: 56px;
    top: 32px;
    width: 84px;
    height: 84px;
}

.back img {
    width: 100%;
    height: 100%;
}

.main {
    width: 283px;
    height: 109px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -190px;
}

.main img {
    width: 100%;
    height: 100%;
}

.p1 {
    font-size: 46px;
    color: white;
    float: left;
    text-align: justify;
    position: absolute;
    top: 20%;
    left: 140px;
    right: 140px;
    line-height: 85px;
}

.logol {
    width: 220px;
    height: 230px;
    text-align: center;
    line-height: 20px;
    margin-left: 120px;
    position: absolute;
    left: 35px;
    top: 60%;
}

.logol img {
    width: 137px;
    height: 137px;
}

.logol p {
    color: white;
    font-size: 40px;
}

.logor {
    width: 220px;
    height: 230px;
    text-align: center;
    line-height: 20px;
    margin-right: 120px;
    position: absolute;
    right: 35px;
    top: 60%
}

.logor img {
    width: 137px;
    height: 137px;
}

.logor p {
    color: white;
    font-size: 40px;
}