.disn {
    display: none;
}

.disf {
    display: flex;
}

.disib {
    display: inline-block;
}

.disif {
    display: inline-flex;
}

.flex1 {
    flex: 1;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.t23 {
    top: 2.3rem
}

.t40 {
    top: 4rem;
}

.t45 {
    top: 4.5rem;
}

.t64 {
    top: 6.4rem;
}

.t90 {
    top: 9rem;
}

.t145 {
    top: 14.5rem;
}

.r0 {
    right: 0;
}

.r04 {
    right: 0.4rem;
}

.r07 {
    right: 0.7rem;
}

.b10 {
    bottom: 1rem;
}

.b90 {
    bottom: 9rem;
}

.l35 {
    left: 3.5rem;
}

.w100p {
    width: 100%;
}

.w0 {
    width: 0;
}

.w08 {
    width: 0.8rem;
}

.w14 {
    width: 1.4rem;
}

.w15 {
    width: 1.5rem;
}

.w20 {
    width: 2rem;
}

.w26 {
    width: 2.6rem;
}

.w39 {
    width: 3.9rem;
}

.w46 {
    width: 4.6rem;
}

.w70 {
    width: 7rem;
}

.w104 {
    width: 10.4rem;
}

.mxw665 {
    max-width: 66.5rem;
}

.h100p {
    height: 100%;
}

.h0 {
    height: 0;
}

.h08 {
    height: 0.8rem;
}

.h15 {
    height: 1.5rem;
}

.h18 {
    height: 1.8rem;
}

.h20 {
    height: 2rem;
}

.h21 {
    height: 2.1rem;
}

.h26 {
    height: 2.6rem;
}

.h28 {
    height: 2.8rem;
}

.h35 {
    height: 3.5rem;
}

.h43 {
    height: 4.3rem;
}

.h67 {
    height: 6.7rem;
}

.h70 {
    height: 7rem;
}

.h95 {
    height: 9.5rem;
}

.h105 {
    height: 10.5rem;
}

.h114 {
    height: 11.4rem;
}

.p0 {
    padding: 0;
}

.pt01 {
    padding-top: 0.1rem;
}

.pt07 {
    padding-top: 0.7rem;
}

.pt12 {
    padding-top: 1.2rem;
}

.pt15 {
    padding-top: 1.5rem;
}

.pt21 {
    padding-top: 2.1rem;
}

.pt30 {
    padding-top: 3rem;
}

.pr10 {
    padding-right: 1rem;
}

.pr17 {
    padding-right: 1.7rem;
}

.pr25 {
    padding-right: 2.5rem;
}

.pr49 {
    padding-right: 4.9rem;
}

.pr37 {
    padding-right: 3.7rem;
}

.pr40 {
    padding-right: 4rem;
}

.pb0 {
    padding-bottom: 0;
}

.pb06 {
    padding-bottom: 0.6rem;
}

.pb11 {
    padding-bottom: 1.1rem;
}

.pb12 {
    padding-bottom: 1.2rem;
}

.pb21 {
    padding-bottom: 2.1rem;
}

.pb30 {
    padding-bottom: 3rem;
}

.pl02 {
    padding-left: 0.2rem;
}

.pl17 {
    padding-left: 1.7rem;
}

.pl23 {
    padding-left: 2.3rem;
}

.pl25 {
    padding-left: 2.5rem;
}

.pl37 {
    padding-left: 3.7rem;
}

.pl40 {
    padding-left: 4rem;
}

.pl49 {
    padding-left: 4.9rem;
}

.mt05 {
    margin-top: 0.5rem;
}

.mt12 {
    margin-top: 1.2rem;
}

.mr-17 {
    margin-right: -1.7rem;
}

.mr12 {
    margin-right: 1.2rem;
}

.mr20 {
    margin-right: 2rem;
}

.mb10 {
    margin-bottom: 1rem;
}

.mb25 {
    margin-bottom: 2.5rem;
}

.mb30 {
    margin-bottom: 3rem;
}

.ml-17 {
    margin-left: -1.7rem;
}

.ml12 {
    margin-left: 1.2rem;
}

.bd01 {
    border-width: 0.1rem;
    border-style: solid;
}

.bd03 {
    border-width: 0.3rem;
    border-style: solid;
}

.bdb01 {
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
}

.bdcwhite {
    border-color: #fff;
}

.brs05 {
    border-radius: 0.5rem;
}

.ft12 {
    font-size: 1.2rem;
}

.ft13 {
    font-size: 1.3rem;
}

.ft15 {
    font-size: 1.5rem;
}

.ft16 {
    font-size: 1.6rem;
}

.ft17 {
    font-size: 1.7rem;
}

.ft18 {
    font-size: 1.8rem;
}

.ft20 {
    font-size: 2rem;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.lh14 {
    line-height: 1.4rem;
}

.lh20 {
    line-height: 2rem;
}

.lh40 {
    line-height: 4rem;
}

.lh43 {
    line-height: 4.3rem;
}

.lh45 {
    line-height: 4.5rem;
}

.lh50 {
    line-height: 5rem;
}

.lh53 {
    line-height: 5.3rem;
}

.lh58 {
    line-height: 5.8rem;
}

.lh66 {
    line-height: 6.6rem;
}

.ls01 {
    letter-spacing: 0.1rem;
}

.ls02 {
    letter-spacing: 0.2rem;
}

.ti01 {
    text-indent: 0.1rem;
}

h3 {
    font-size: 2.4rem;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-justify::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.ofh {
    overflow: hidden;
}

.op0 {
    opacity: 0;
}

.op08 {
    opacity: 0.8;
}

.rotate180 {
    -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
            transform:rotate(180deg);
}

.bgcwhite {
    background-color: #fff;
}

.bgctrans {
    background-color: transparent;
}

.cwhite {
    color: #fff;
}