.dis-f {
    display: flex;
}

.dis-ib {
    display: inline-block;
}

.dis-if {
    display: inline-flex;
}

.flex1 {
    flex: 1;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.t-25 {
    top: 2.3rem
}

.t-40 {
    top: 4rem;
}

.t-45 {
    top: 4.5rem;
}

.t-64 {
    top: 6.4rem;
}

.t-75 {
    top: 7.5rem;
}

.t-145 {
    top: 14.5rem;
}

.r-0 {
    right: 0;
}

.r-04 {
    right: 0.4rem;
}

.r-07 {
    right: 0.7rem;
}

.b-10 {
    bottom: 1rem;
}

.b-90 {
    bottom: 9rem;
}

.l-35 {
    left: 3.5rem;
}

.w-100p {
    width: 100%;
}

.w-0 {
    width: 0;
}

.w-08 {
    width: 0.8rem;
}

.w-14 {
    width: 1.4rem;
}

.aw-20 {
    width: 2rem;
}

.w-26,.aw-26 {
    width: 2.6rem;
}

.w-39 {
    width: 3.9rem;
}

.w-46 {
    width: 4.6rem;
}

.mxw-665 {
    max-width: 66.5rem;
}

.h-100p {
    height: 100%;
}

.h-0 {
    height: 0;
}

.h-08 {
    height: 0.8rem;
}

.h-18 {
    height: 1.8rem;
}

.ah-20 {
    height: 2rem;
}

.ah-21 {
    height: 2.1rem;
}

.h-26 {
    height: 2.6rem;
}

.h-28 {
    height: 2.8rem;
}

.h-43 {
    height: 4.3rem;
}

.h-95 {
    height: 9.5rem;
}

.h-114 {
    height: 11.4rem;
}

.pt-12 {
    padding-top: 1.2rem;
}

.pt-15 {
    padding-top: 1.5rem;
}

.pt-21 {
    padding-top: 2.1rem;
}

.pt-30 {
    padding-top: 3rem;
}

.pr-10 {
    padding-right: 1rem;
}

.pr-25 {
    padding-right: 2.5rem;
}

.pr-37 {
    padding-right: 3.7rem;
}

.pr-40 {
    padding-right: 4rem;
}

.pr-49 {
    padding-right: 4.9rem;
}

.pb-12 {
    padding-bottom: 1.2rem;
}

.pb-21 {
    padding-bottom: 2.1rem;
}

.pb-30 {
    padding-bottom: 3rem;
}

.pb-67 {
    padding-bottom: 6.7rem;
}

.pl-02 {
    padding-left: 0.2rem;
}

.pl-23 {
    padding-left: 2.3rem;
}

.pl-25 {
    padding-left: 2.5rem;
}

.pl-37 {
    padding-left: 3.7rem;
}

.pl-40 {
    padding-left: 4rem;
}

.pl-49 {
    padding-left: 4.9rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mr-n17 {
    margin-right: -1.7rem;
}

.mr-12 {
    margin-right: 1.2rem;
}

.mr-20 {
    margin-right: 2rem;
}

.mb-10 {
    margin-bottom: 1rem;
}

.mb-25 {
    margin-bottom: 2.5rem;
}

.mb-30 {
    margin-bottom: 3rem;
}

.ml-n17 {
    margin-left: -1.7rem;
}

.ml-12 {
    margin-left: 1.2rem;
}

.bd-01 {
    border-width: 0.1rem;
    border-style: solid;
}

.bdb-01 {
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
}

.brs-05 {
    border-radius: 0.5rem;
}

.ft-12 {
    font-size: 1.2rem;
}

.ft-13 {
    font-size: 1.3rem;
}

.ft-15 {
    font-size: 1.5rem;
}

.ft-16 {
    font-size: 1.6rem;
}

.ft-17 {
    font-size: 1.7rem;
}

.ft-18 {
    font-size: 1.8rem;
}

.ft-20 {
    font-size: 2rem;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.lh14 {
    line-height: 1.4rem;
}

.lh-20 {
    line-height: 2rem;
}

.lh-35 {
    line-height: 3.5rem;
}

.lh-40 {
    line-height: 4rem;
}

.lh-43 {
    line-height: 4.3rem;
}

.lh-45 {
    line-height: 4.5rem;
}

.lh-53 {
    line-height: 5.3rem;
}

.lh-58 {
    line-height: 5.8rem;
}

.lh-66 {
    line-height: 6.6rem;
}

.ls-01 {
    letter-spacing: 0.1rem;
}

.ls-02 {
    letter-spacing: 0.2rem;
}

.ti-01 {
    text-indent: 0.1rem;
}

h3 {
    font-size: 2.4rem;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-justify::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.of-h {
    overflow: hidden;
}

.op-0 {
    opacity: 0;
}

.op-08 {
    opacity: 0.8;
}

.rotate-180 {
    -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
            transform:rotate(180deg);
}

.bgc-white {
    background-color: #fff;
}

.bgc-trans {
    background-color: transparent;
}

.c-white {
    color: #fff;
}