html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #f0f4f7;
}

header {
  width: 100%;
  min-width: 28rem;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-image: linear-gradient(#158ac7, #22abf2);
}

.navbar > a:first-child {
  position: absolute;
  top: 0;
  font-size: 1.6rem;
  line-height: 4.4rem;
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  left: 1.6rem;
}

.navbar > a:last-child {
  position: absolute;
  top: 0;
  font-size: 1.6rem;
  line-height: 4.4rem;
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  right: 1.6rem;
}

.navbar > p {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
  text-indent: 0.05rem;
  line-height: 4.4rem;
  letter-spacing: 0.1rem;
  color: #fff;
}

main {
  width: 100%;
  min-width: 28rem;
  position: absolute;
  top: 4.4rem;
}

.phonenumber-line, .password-line {
  display: flex;
  width: 100%;
  height: 5rem;
  margin: 0.8rem 0 0.7rem;
  background-color: #fff;
}

.iphone {
  width: 1.35rem;
  height: 2.05rem;
  margin-top: 1.2rem;
  padding: 0.3rem 2.3rem 0.2rem 2.1rem;
  border-right: 0.1rem solid #eaedee;
}

.password-line {
  margin-top: 0;
  margin-bottom: 3.5rem;
}

.locked {
  width: 1.45rem;
  height: 2.15rem;
  margin-top: 1.45rem;
  padding: 0.2rem 2.2rem 0.2rem 2.15rem;
  border-right: 0.1rem solid #eaedee;
}

.enter {
  padding: 0 0 0 1.15rem;
  border: 0;
  line-height: 5rem;
  font-size: 1.6rem;
  outline: none;
}

.enter::-webkit-input-placeholder {
  color: #ccc;
}

form > div:last-child {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.7rem;
}

button[type=submit] {
  width: 100%;
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.8rem;
  line-height: 5rem;
  text-align: center;
  background-color: #1ca9f4;
  color: #fff;
}

main > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16rem;
  padding: 0.5rem .7rem;
  font-size: 1.2rem;
}

main > div:nth-child(2) a {
  text-decoration: none;
  color: #9b9c9c;
  -webkit-tap-highlight-color: transparent;
}

main > div:nth-child(2) a:active {
  color: #ff08df;
}

main > div:nth-child(3) {
  width: 100%;
  padding: 0 4.6rem;
  box-sizing: border-box;
}

main > div:nth-child(3) p {
  position: relative;
  margin-bottom: 3.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #bbbcbd;
}

main > div:nth-child(3) p::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 0.1rem;
  background-color: #dcdddf;
}

.btn-group-title {
  background-color: #f0f4f7;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 20.4rem;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  text-align: center;
  color: #bbbcbd;
  -webkit-tap-highlight-color: transparent;
}

.btn > img {
  display: block;
  margin: 0 auto;
}
