html {
    font-size: 62.5%;
}

body {
    min-width: 56rem;
    background-color: #fafafa;
}

header,
main,
footer {
    width: 100%;
    min-width: 56rem;
}

/*导航栏顶端开始*/
.top-white {
    width: 100%;
    line-height: 4rem;
    background-color: #fff;
    color: #29b078;
}

.top-white > .container > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-white > .container > .row::before,
.top-white > .container > .row::after {
    content: none;
}

.btn-group-sm > .btn-sm {
    border: 0;
    border-radius: 0;
    outline: none !important;
    box-shadow: none;
    background-color: transparent;
}
/*导航栏顶端结束*/

/*导航栏开始*/
.navbar {
    width: 100%;
    min-width: 56rem;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.6rem;
    background-color: #29b078;
}

.navbar-toggle {
    background-color: #fff;
}

.navbar-nav {
    position: relative;
    right: -1.5rem;
}

.navbar-nav > li > a {
    padding: 0 3.2rem 0 3.2rem;
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    line-height: 3rem;
    text-align: center;
    color: #fff !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        line-height: 9.2rem;
    }
}

.navbar-nav > .active > a {
    border-bottom-color: #fff;
    background-color: transparent !important;
    color: #fff !important;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:active {
    border-bottom-color: #fff;
    border-radius: 0;
    background-color: transparent;
}
/*导航栏结束*/

/*轮播图开始*/
.homepage {
    width: 100%;
    min-width: 56rem;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-left {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0,-50%);
}

.carousel-right {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(0,-50%);
}

.carousel-set {
    animation: playMovie 10s linear infinite;
    width: 400%;
}

.carousel-content {
    float: left;
    width: 25%;
}

.carousel-content > img {
    width: 100%;
    height: 100%;
}

@keyframes playMovie {
    0% {margin-left: 0;}
    10% {margin-left: 0;}
    20% {margin-left: -50%;}
    30% {margin-left: -100%;}
    40% {margin-left: -100%;}
    50% {margin-left: -150%;}
    60% {margin-left: -200%;}
    70% {margin-left: -200%;}
    80% {margin-left: -250%;}
    90% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.homepage .pagination {
    position: absolute;
    bottom: 1.1rem;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}

.pagination > li > a {
    margin: 0 0.5rem;
    padding: 0.7rem;
    border-radius: 50% !important;
    background-color: transparent;
}
/*轮播图结束*/

/*高效 规范 人脉开始*/
.first-row {
    position: relative;
    min-width: 56rem;
    margin-top: 16.4rem;
}

.first-row > .col-md-3 {
    height: 26.4rem;
}

.first-row > .col-md-3 > .thumbnail {
    height: 26.4rem;
    border: 0;
    background-color: #fafafa;
}

.first-row > .col-md-3 > .thumbnail > p {
    width: 21.2rem;
    margin: 0 auto 1rem;
}

.first-row > .col-md-3:nth-child(2)> .thumbnail {
    padding-top: 1.8rem;
    text-align: center;
}

.first-row > .col-md-3:nth-child(3)> .thumbnail {
    padding-top: 1.1rem;
}

.thumbnail > h4 {
    margin: 3rem 0;
    font-weight: 600;
}

.thumbnail > p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #999;
}

.border {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0.1rem;
    height: 26.4rem;
    visibility: hidden;
    background-color: #dedede;
    background-image: repeating-linear-gradient(0deg,#dedede,#dedede 1.3rem,#fff 1.3rem,#fff 1.8rem);
}

@media (min-width: 768px) {
    .border {
        visibility: visible;
    }
}

.first-row > .col-md-3:last-child {
    padding-top: 5.8rem;
    padding-left: 5.8rem;
}

.list-group {
    width: 21.2rem;
    margin: 0 auto 2rem;
}

.list-group > .list-group-item {
    padding: 0;
    border: 0;
    font-size: 1.8rem;
    line-height: 3.4rem;
    background-color: #fafafa;
    color: #999;
}

.list-group > .list-group-item:first-child,
.list-group > .list-group-item:nth-child(3) {
    color: #26a26f;
}

.list-group > .list-group-item:first-child > span:first-child,
.list-group > .list-group-item:nth-child(3) > span:first-child {
    font-size: 1.4rem;
}

.list-group > .list-group-item:nth-child(2),
.list-group > .list-group-item:nth-child(4) {
    margin-bottom: 1.4rem;
}
/*高效 规范 人脉结束*/

/*如何学习开始*/
.panel {
    border: 0;
    box-shadow: none;
    background-color: #fafafa;
}

.panel-title {
    font-size: 1.8rem;
    font-weight: 700;
}

.panel-body {
    padding: 0;
}

.second-row > .panel {
    min-width: 56rem;
    position: relative;
}

.second-row > .panel > .panel-heading {
    padding-top: 10rem;
    padding-bottom: 7rem;
}

.second-row > .panel > .panel-body {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .second-row > .panel > .panel-body {
        margin-bottom: 9.6rem;
    }
}

.second-row > .panel > .panel-body > .col-sm-6 {
    position: relative;
    display: flex;
    margin-bottom: 4.8rem;
    align-items: center;
}

@media (max-width: 768px) {
    .second-row > .panel > .panel-body > .col-sm-6 {
        width: 50%;
    }
}

.number {
    flex-shrink: 0;
    width: 7rem;
    height: 7rem;
    margin-left: auto;
    margin-right: 1.8rem;
    margin-bottom: 0;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.5rem #e9e9e9;
    font-size: 1.8rem;
    line-height: 7rem;
    background-color: #fff;
    color: #29b078;
}

.task {
    width: 15rem;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 1.4rem;
    color: #999;
}

.col-sm-6 > img {
    position: absolute;
    right: -1.2rem;
}

.ou {
    visibility: hidden;
}

@media (min-width: 992px) {
    .ou {
        visibility: visible;
    }
}
/*如何学习结束*/

/*优秀学员展示开始*/
.third-row > .panel {
    width: 100%;
    min-width: 56rem;
}

.third-row > .panel > .panel-heading {
    padding-top: 12rem;
    padding-bottom: 7rem;
    border: 0;
    background-color: #fafafa;
}

.third-row > .panel > .panel-body {
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.set {
    width: 500%;
    animation: secondmovie 20s linear -1s infinite forwards;
}

@keyframes secondmovie {
    0% {margin-left: 0;}
    5% {margin-left: 0;}
    10% {margin-left: 0;}
    15% {margin-left: 0;}
    20% {margin-left: -50%;}
    25% {margin-left: -100%;}
    30% {margin-left: -100%;}
    35% {margin-left: -100%;}
    40% {margin-left: -100%;}
    45% {margin-left: -150%;}
    50% {margin-left: -200%;}
    55% {margin-left: -200%;}
    60% {margin-left: -200%;}
    65% {margin-left: -200%;}
    70% {margin-left: -250%;}
    75% {margin-left: -300%;}
    80% {margin-left: -300%;}
    85% {margin-left: -300%;}
    90% {margin-left: -300%;}
    95% {margin-left: -350%;}
    100% {margin-left: -400%;}
}

.page {
    float: left;
    width: 20%;
}

@media(max-width: 768px) {
    .page > .col-lg-3 {
        float: left;
        width: 50%;
    }
}

.page > .col-lg-3 > .thumbnail {
    margin-bottom: 2.5rem;
    padding: 1.9rem 3.2rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #eeeded;
}

.third-row .caption {
    padding: 0;
}

.third-row .caption > h4 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.infor {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #999;
}

.third-row .pagination {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}

nav {
    position: relative;
    width: 100%;
}

.pagination > .active > a {
    padding: 0.7rem;
    margin: 0 0.5rem;
    border-radius: 50% !important;
    border-color: #29b078;
    background-color: #29b078;
}
/*优秀学员展示结束*/


/*战略合作伙伴开始*/
.forthrow {
    margin-bottom: 9rem;
}

.forth-row > .panel {
    width: 100%;
    min-width: 56rem;
    margin-bottom: 9rem;
}

.forth-row > .panel > .panel-heading {
    padding-top: 15rem;
    padding-bottom: 7rem;
    border: 0;
    background-color: #fafafa;
}

.btn-group-lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-shadow: 0.1rem 0.1rem 0.5rem #999;
}

.btn-group>.btn:first-child {
    margin-left: -.3rem;
}

.btn-group .btn+.btn {
    margin-left: -.3rem;
}

.btn-lg {
    width: 50%;
    height: 17.6rem;
    margin: 0 -.3rem;
    border: 0;
    border-radius: 0 !important;
    outline: none;
    background-color: #fff;
}

@media(min-width: 992px) {
    .btn-lg {
        width: 20%;
        margin: 0;
    }

    .btn-group .btn+.btn {
        margin-left: 0;
    }
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active {
    position: relative;
    outline: none !important;
    box-shadow: 0 0 0.5rem #999;
    z-index: 9999;
}
/*战略合作伙伴结束*/

/*友情链接开始*/
.btmbar-white {
    background-color: #fff;
}

.btmbar-white > .container {
    padding-right: 0;
}

.fifth-row > .panel {
    width: 100%;
    min-width: 56rem;
    margin-bottom: 0;
}

.fifth-row > .panel > .panel-heading {
    padding-top: 2rem;
    padding-bottom: 3rem;
    border: 0;
    background-color: #fff;
}

.fifth-row > .panel > .panel-body {
    background-color: #fff;
}

.panel-body > ul {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}

@media(max-width: 768px) {
    .panel-body > ul {
        width: 100%;
    }
}

.panel-body > ul > li {
    width: 5.6rem;
}

.panel-body > ul > li > a,
.panel-body > ul > li > a:hover,
.panel-body > ul > li > a:focus {
    font-weight: 500;
    color: #999;
    text-decoration: none;
}

.panel-body > ul > li > a:hover,
.panel-body > ul > li > a:focus {
    border-bottom: 0.1rem solid #26a26f;
}
/*友情链接结束*/

/*底栏开始*/
.btmbar-center {
    width: 100%;
    min-width: 56rem;
    border-top: 0.1rem solid #32c086;
    border-bottom: 0.1rem solid #32c086;
    background-color: #26a26f;
}

.jnshu,
.inter {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.jnshu > p {
    margin-top: 3.4rem;
    margin-bottom: 6.8rem;
    font-size: 1.6rem;
    color: #fff;
}

.jnshu > ul {
    padding: 0;
}

.jnshu > ul > li {
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 0.2rem solid #fff;
    float: left;
    list-style: none;
} 

.jnshu > ul > li:first-child {
    padding-left: 0;
} 

.jnshu > ul > li:last-child {
    border-right: 0;
}

.jnshu a {
    padding-bottom: 1.3rem;
    border-bottom: 0.1rem solid transparent;
    text-decoration: none;
    color: #fff;
}

.inter > p {
    margin-top: 3.4rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #fff;
}

.inter a {
    display: inline-block;
    padding-bottom: 0.6rem;
    margin-right: 3.4rem;
    margin-bottom: 1.3rem;
    border-bottom: 0.1rem solid transparent;
    text-decoration: none;
    color: #fff;
}

.sixthrow a:hover,
.sixthrow a:focus,
.sixthrow a:active {
    border-bottom-color: #fff;
}

.code {
    float: right;
    margin-top: 3.4rem;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.code > p {
    font-size: 1.6rem;
    color: #fff;
}
/*底栏结束*/

.btmbar3 {
    width: 100%;
    min-width: 56rem;
    line-height: 3rem;
    background-color: #26a26f;
    color: #fff;
}