html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-width: 280px;
    margin: 0;
    background-color: #f0f4f7;
}

header {
    position: fixed;
    top: 0;
    z-index: 777;
    width: 100%;
    min-width: 280px;
    background-image: linear-gradient(#158ac7,#22abf2);
}

.close {
    position: absolute;
    left: 1.6rem;
    line-height: 4.4rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.theme {
    margin: 0;
    text-align: center;
    color: white;
    line-height: 4.4rem;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-indent: 0.05rem;
}

.login {
    position: absolute;
    top: 0;
    right: 1.6rem;
    font-size: 1.6rem;
    line-height: 4.4rem;
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
    position: absolute;
    top: 4.4rem;
    width: 100%;
    min-width: 280px;
}
.phonenumber-line {
    display: flex;
    width: 100%;
    height: 5rem;
    margin: 0.8rem 0 0.7rem 0.05rem;
    background-color: white;
}

.iphone {
    width: 1.35rem;
    height: 2.05rem;
    margin-top: 1.2rem;
    padding: 0.3rem 2.3rem 0.2rem 2.1rem;
    border-right: 0.1rem solid #eaedee;
}

.enter {
    padding: 0 0 0 1.15rem;
    border: 0;
    line-height: 5rem;
    font-size: 1.6rem;
    outline: none;
}

.enter::-webkit-input-placeholder {
    color: #ccc;
}

.password-line {
    display: flex;
    width: 100%;
    height: 5rem;
    margin: 0 0.05rem 3.45rem 0;
    background-color: white;
}

.locked {
    width: 1.45rem;
    height: 2.15rem;
    margin-top: 1.45rem;
    padding: 0.2rem 2.2rem 0.2rem 2.15rem;
    border-right: 0.1rem solid #eaedee;
}

form > div:last-child {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0.7rem;
}

.sign {
    width: 100%;
    padding: 0;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.8rem;
    line-height: 5rem;
    text-align: center;
    background-color: #1ca9f4;
    color: white;
}

main > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16rem;
    padding: 0.5rem .7rem;
    font-size: 1.2rem;
}

main > div:nth-child(2) > a {
    text-decoration: none;
    color: #a5a6a7;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:active {
    color: #a214b3;
}


main > div:nth-child(3) {
    width: 100%;
    padding: 0 4.6rem;
    box-sizing: border-box;
}

main > div:nth-child(3) > p {
    position: relative;
    margin-bottom: 3.5rem;
    font-size: 1.2rem;
    text-align: center;
    color: #bbbcbd;
}

main > div:nth-child(3) > p::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    height: 0.1rem;
    background-color: #dcdddf;
}

.btn-group-title {
    background-color: #f0f4f7;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    width: 20.4rem;
    margin: 0 auto;
}

.btn {
    color: #bbbcbd;
    text-decoration: none;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn > img {
    display: block;
    margin: 0 auto;
}