html {
  font-size: 62.5%;
}

header,
main,
footer {
  width: 100%;
  min-width: 40rem;
  overflow-x: hidden;
}

/*导航栏顶端开始*/
.top-blue {
  font-size: 1.4rem;
  line-height: 4rem;
  background-color: #1d7ad9;
  color: #fff;
}

@media(max-width: 768px) {
  .row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

.top-blue > .container > .row {
  margin-right: -1.5rem;
}

.btn-group-sm {
  float: right;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 0 1rem;
  border-left: 0.1rem solid #fff;
  border-right: 0.1rem solid #fff;
  border-radius: 0;
  font-size: 1.6rem;
  line-height: 4rem;
  outline: none;
  box-shadow: none;
  color: #fff;
}

.btn-group > .active,
.btn-sm:hover {
  padding: 0 3.5rem;
  background-color: #fff;
  color: #000;
}
/*导航栏顶端结束*/

/*导航栏开始*/
.navbar-default {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  background-color: #f9f9f9;
}

@media(min-width: 768px) {
  .navbar-default {
    padding: 2.4rem 0;
  }
}

.navbar-default .navbar-nav > li > a {
  display: inline-block;
  margin-left: 6rem;
  padding: 1.4rem 1.7rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  background-color: #fff;
  color: #000;
  box-shadow: 0.1rem 0.1rem 0.1rem #e6e6e6;
}

.navbar-default .navbar-nav > li > .active,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #1d7ad9;
  color: #fff;
}
/*导航栏结束*/

/*进度条开始*/
.progress {
  float: right;
  width: 100%;
  height: 0.5rem;
  margin-top: 5rem;
  overflow: visible;
  background-color: #ccc;
}

@media(min-width: 768px) {
  .progress {
    width: 63.3rem;
  }
}

.progress-bar {
  width: 25%;
  border-radius: 0.4rem;
  background-color: #ff7f02;
}

.progress-btm {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 3.5rem;
}

@media(min-width: 768px) {
  .progress-btm {
    float: right;
    width: 63.3rem;
  }
}

.progress-btm > div {
  position: relative;
  float: left;
  width: 25%;
}

.number {
  position: absolute;
  top: -4.7rem;
  left: 50%;
  transform: translate(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.4rem;
  text-align: center;
  background-color: #ccc;
  color: #fff;
}

.progress-btm > div > span {
  display: block;
  margin: 0 auto;
  font-size: 1.8rem;
  color: #ccc;
}

.progress-btm > .active > .number {
  top: -5rem;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.6rem;
  background-color: #ff7f02;
  color: #fff;
}

.progress-btm > .active > span {
  color: #ff7f02;
}
/*进度条结束*/

/*表单开始*/

.row > form {
  margin-top: 15.5rem;
}

.row > form > p {
  display: flex;
  align-items: center;
  margin-top: 5.2rem;
  font-size: 2.2rem;
  font-weight: 700;
}

.row > form > p::before {
  display: inline-block;
  content: "";
  width: 0.4rem;
  height: 2.2rem;
  margin-right: 0.6rem;
  border-radius: 0.2rem;
  background-color: #1d7ad9;
}

/*选择箱型开始*/
.panel {
  border-color: #e7e7e7;
  box-shadow: none;
  margin-bottom: 5.4rem;
}

.panel-default > .panel-heading {
  display: flex;
  align-items: center;
  border-color: #e7e7e7;
  font-size: 1.8rem;
  background-color: #f4f4f4;
  color: #1d7ad9;
}

.panel-heading > img {
  margin-right: 0.7rem;
}

.panel-default > .panel-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 1.5rem 2.3rem 4.6rem;
  font-size: 1.8rem;
  background-color: #fbfcff;
  color: #666;
}

.panel-default > .panel-body::before,
.panel-default > .panel-body::after {
  content: none;
}

input.radio {
  display: none;
}

label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 500;
}

.panel-body-box > .panel-body-left > label {
  margin-right: 6rem;
}

label > .round {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1.6rem;
  border: 0.1rem solid #d6d6d6;
  border-radius: 50%;
}

label:hover > .round {
  border: 0.7rem solid #1d7ad9;
}

.panel-body > .btn-group > .btn {
  position: relative;
  width: 12.9rem;
  height: 3.9rem;
  padding: 1rem 1.5rem 1rem 1.7rem;
  border: 0.1rem solid #e8e8e8;
  border-radius: 0;
  text-align: left;
  background-color: #fff;
  color: #999;
}

.caret {
  position: absolute;
  top: 0.5rem;
  right: 0.4rem;
  display: inline-block;
  width: 2.4rem;
  height: 2.8rem;
  border: 0;
  background-color: #1d7ad9;
}

.caret::after {
  position: absolute;
  top: 1.1rem;
  right: 0.6rem;
  content: "";
  border-top: 0.7rem solid #fff;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
}

.dropdown-menu {
  min-width: 100%;
  text-align: center;
}
/*选择箱型结束*/

/*确定尺寸开始*/
.panel-body-size > .panel-body-left > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.panel-body-size > .panel-body-left > div:first-child {
  margin-bottom: 2.5rem;
}

.text {
  flex-wrap: wrap;
}

.text > span {
  margin-right: 6rem;
}

.text > span:last-child {
  margin-right: 0;
}

@media(max-width: 694px) {
  .text > span:nth-child(2) {
    margin-right: 0;
  }

  .text > span:last-child {
    margin-right: 6rem;
  }

  .text > span {
    margin-bottom: 1rem;
  }
}

@media(max-width: 410px) {
  .text > span,
  .text > span:last-child {
    margin-right: 0;
  }
}
.text > span > input {
  width: 7rem;
  height: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 0.1rem solid #e8e8e8;
  background-color: transparent;
  outline: none !important;
}
/*确定尺寸结束*/

/*选择材质开始*/
.panel-default > .panel-body-material {
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
}

.panel-body-material > .panel-body-left > label {
  margin-right: 5rem;
}

.panel-body-material > .panel-body-left > label:last-child {
  margin-right: 0;
}

@media(max-width: 992px) {
  .panel-body-material > .panel-body-left > label:nth-child(6) {
    margin-right: 0;
  }
}

@media(max-width: 730px) {
  .panel-body-material > .panel-body-left > label:nth-child(6) {
    margin-right: 5rem;
  }

  .panel-body-material > .panel-body-left > label:nth-child(4) {
    margin-right: 0;
  }

  .panel-body-material > .panel-body-left > label:nth-child(8) {
    margin-right: 0;
  }

  .panel-body-material > .panel-body-left > label:last-child {
    margin-right: 5rem;
  }
}

@media(max-width: 410px) {
  .panel-body-material > .panel-body-left > label {
    margin-right: 0 !important;
  }
}
/*选择材质结束*/

.panel-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28.5rem;
  background-color: #fff;
}

@media(max-width: 768px) {
  .panel-footer {
    height: 14.2rem;
  }
}

.panel-footer > button {
  width: 17.8rem;
  height: 4.6rem;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
  font-size: 2.4rem;
  line-height: 4.6rem;
  text-align: center;
  background-color: #e15053;
  color: #fff;
}
/*表单结束*/

.btmbar {
  padding-top: 5.7rem;
  padding-bottom: 5.6rem;
  background-color: #f9f9f9;
}

.btmbar .col-md-5,
.btmbar .col-md-4,
.btmbar .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

.btmbar .col-md-5 > p {
  font-size: 1.8rem;
  color: #999;
}

.btmbar .col-md-4 > table {
  position: relative;
  right: 10%;
}

@media(max-width: 992px) {
  .btmbar .col-md-4 > table {
    right: 0;
  }
}

.btmbar .col-md-4 a {
  display: inline-block;
  margin: 1rem 4rem 1rem 0;
  text-decoration: none;
  color: #999;
}

.btmbar .col-md-4 .active {
  color: #1d7ad9;
}

.btmbar .col-md-3 > p {
  margin: 0.7rem 0 0.7rem;
  color: #999;
}

@media(min-width: 1200px) {
  .btmbar .col-md-3 > p {
    position: relative;
    left: 20%;
  }
}

.btmbar .col-md-3 > img {
  float: right;
}

.btmbar-blue {
  font-size: 1.2rem;
  line-height: 3.3rem;
  background-color: #1d7ad9;
  color: #fff;
}