html {
    font-size: 62.5%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    border-bottom: 0.1rem solid #74d4eb;
    z-index: 9999;
}

.topbar {
    width: 100%;
    height: 4.4rem;
    font-size: 1.7rem;
    line-height: 4.4rem;
    letter-spacing: .2rem;
    text-indent: .2rem;
    background-color: #29bde0;
    color: #fff;
}

.pull-left {
    display: inline-block;
    position: absolute;
    top: 1.25rem;
    left: 1rem;
    width: 2.6rem;
    height: 2.1rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position-y: -12.3rem;
}

.pull-right {
    display: inline-block;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    width: 2.6rem;
    height: 2rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position: .6rem -10.3rem;
}

main {
    position: absolute;
    width: 100%;
    min-width: 32rem;
    top: 4.4rem;
    padding-bottom: 6.5rem;
}

.content {
    position: relative;
    overflow-y: auto;
    width: 100%;
    padding-top: 1.1rem;
    text-align: center;
    background-color: #29bde0;
}

div.title {
    width: 100%;
    height: 11.4rem;
    background-image: url(main.png);
    background-repeat: no-repeat;
    background-position: center top;
}

h3 {
    position: relative;
    top: 6.7rem;
    margin: 0;
    padding: 5rem auto;
    color: #fff;
}

p {
    padding: 0 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .3rem;
}

.great {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    color: #ffc865;
}

@media (min-width: 600px) {
    .great {
        text-align: center;
    }
}

.result {
    font-size: 1.3rem;
    text-align: left;
    color: #fff;
}

.result > p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
}

.result > p:nth-child(2) > .identity {
    display: inline-block;
    width: 3.9rem;
    height: 1.8rem;
    text-align: justify;
    overflow: hidden;
}

.result > p:nth-child(2) > .identity::after {
    content: "";
    width: 100%;
    display: inline-block;
}

.result > p:nth-child(2) > .number {
    margin-right: 2rem;
}

.result > p:last-child {
    margin-bottom: 1rem;
}

.line {
    padding-top: 0.7rem;
    padding-bottom: 0.6rem;
    border-bottom: 0.1rem solid #a6a6a6;
}

.line-head {
    display: flex;
    justify-content: space-between;
}

.day {
    font-size: 1.5rem;
    color: #515151;
}

.time {
    font-size: 1rem;
    color: #a6a6a6;
}

.process {
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #a6a6a6;
    white-space: nowrap;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: 6.5rem;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(41,189,224,0.5);
}

.btn {
    width: 13.5rem;
    height: 4.3rem;
}

.btn-left {
    background-color: #f66f6f;
    color: #fff;
    
}

.btn-right {
    background-color: #fbb435;
    color: #fff;
}


