@import "first";

body {
    background-color: #f0f0f0;
}

header,
main {
    @include MinWidth(32.1rem);
}

.navbar {
    height: 3.2rem;
    padding: 1rem;
    background-color: #29bde0;

    .icon-bar {
        display: block;
        width: 1.7rem;
        height: 0.2rem;
        margin-bottom: 0.3rem;
        background-color: #fff;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.content {
    padding: 3rem 2.5rem 0 2.5rem;

    > .panel {
        border: 0.1rem solid #c9c9c9;
        background-color: #fff;
    }

    > .panel:first-child {
        margin-bottom: 2.5rem;
        
        .panel-body {
            position: relative;
            font-size: 1.7rem;
            text-align: center;
            line-height: 5.8rem;
            letter-spacing: 0.1rem;
            color: #9a9a9a;

            a {
                display: block;
                position: absolute;
                top: 2.3rem;
                right: 0.7rem;
                width: 1.3rem;
                height: 1.3rem;
                border-top: 0.3rem solid #e7e7e7;
                border-right: 0.3rem solid #e7e7e7;
                transform: rotate(45deg);
            }
        }
    }

    > .panel:last-child {
        .panel-heading {
            border-bottom: 0.1rem solid #fdd793;
            font-size: 1.8rem;
            line-height: 4.5rem;
            text-align: center;
            letter-spacing: 0.1rem;
            color: #fbb435;
        }

        .panel-body {
            position: relative;
            padding: 1.5rem 2.5rem 0 2.5rem;
        }
    }

    button[type=button] {
        width: 100%;
        background-color: #69d1e9;
        color: #fff;

        a {
            width: 100%;
            font-size: 1.6rem;
            line-height: 6.6rem;
            letter-spacing: 0.2rem;
            color: #fff;
        }

        & + p {
            font-size: 1.2rem;
            line-height: 4rem;
            text-align: center;
            letter-spacing: 0.1rem;
            color: #787878;
        }
    }
}

.turn-page {
    position: absolute;
    top: 14.5rem;
    right: 0.4rem;
    width: 1.4rem;
    height: 2.8rem;
    background-image: url(../spr.png);
    background-color: transparent;
}

.pagination {
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 4.6rem;
    height: 0.8rem;
    padding-left: 0;
    margin: 0.5rem auto 0;
    list-style: none;

    li {
        float: left;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: #f0f0f0;
    }

    .active {
        background-color: #69d1e9;
    }
}

