body {
    background-color: #f0f0f0;
}

.navbar-default {
    height: 6.4rem;
    background-color: #29bde0;
    border: 0;
}

.menu {
    width: 1.7rem;
    height: 1.5rem;
    position: absolute;
    bottom: 1rem;
    left: 1.1rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position: -2.8rem -0.1rem;
}

main {
    position: absolute;
    top: 6.4rem;
    width: 100%;
}

.panel {
    position: relative;
    margin: 1.3rem 1.8rem auto 1.8rem;
    border-radius: 0;
}

.panel-body {
    position: relative;
    font-size: 1.7rem;
    background-color: #fff;
    color: #9a9a9a;
    padding: 1.5rem 2.8rem;
}

.jump {
    width: 1.1rem;
    height: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 0.7rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position: -1.5rem 0.1rem;
    background-color: transparent;
}

.panel-default > .panel-heading {
    font-size: 1.9rem;
    background-color: #fff;
    color: #fbb435;
    border-color: #fdd793;
}

.wrap {
    padding: 2.5rem 0;
    font-size: 1.6rem;
    background-color: #69d1e9;
    color: #fff;
    letter-spacing: 0.2rem;
}

.people {
    padding: 1.2rem 0;
    font-size: 1.4rem;
    color: #787878;
    letter-spacing: 0.1rem;
}

.turnpage {
    width: 1.4rem;
    height: 2.8rem;
    position: absolute;
    top: 15.2rem;
    right: 0.4rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-color: transparent;
}

.page-navigation {
    position: absolute;
    bottom: 0.05rem;
    left: 50%;
    text-indent: -100%;
}

.pagination {
    margin: 0;
}

.pagination > li > a {
    padding: 0.3rem;
    border-radius: 50%;
    margin: 0 0.25rem;
}

.pagination > .active > a,
.pagination > .active > a:hover {
    background-color: #69d1e9;
    border-color: #69d1e9;
}