html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

header {
  width: 100%;
  min-width: 28rem;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  top: 0;
  font-size: 1.6rem;
  text-align: center;
  text-indent: -0.1rem;
  text-decoration: none;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  background-color: #5fc0cd;
  color: #fff;
}

.back {
  position: absolute;
  left: 1.25rem;
  top: 1.3rem;
  display: block;
  box-sizing: border-box;
  width: 1.3rem;
  height: 1.3rem;
  border-top: 0.3rem solid #fff;
  border-left: 0.3rem solid #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

main {
  width: 100%;
  min-width: 28rem;
  box-sizing: border-box;
  position: absolute;
  top: 4rem;
}

main > div {
  position: relative;
  margin-bottom: 9rem;
}

.bg {
  width: 100%;
  height: 16.4rem;
  overflow-y: hidden;
}

.bg > img {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
  width: 100%;
  min-height: 16.4rem;
  margin-top: -0.5rem;
}

.information {
  position: absolute;
  top: 4rem;
  display: flex;
}

.information > img {
  width: 8.4rem;
  height: 8.4rem;
  margin-left: 1.5rem;
  margin-right: 2rem;
}

.information-body > p {
  color: #fff;
}

.information-body > p:first-child {
  margin-top: 1.9rem;
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
}

.information-body > p:first-child > span {
  font-size: 1.4rem;
}

.information-body > p:last-child {
  margin: 0;
}

.information-body > p:last-child > img {
  width: 0.9rem;
  height: 1.2rem;
  vertical-align: middle;
}

.information-body > p:last-child > span {
  font-size: 1.2rem;
  vertical-align: middle;
}

.panel-header {
  margin: 1.7rem 1.5rem;
  padding-left: 1.3rem;
  border-left: 0.1rem solid #5fc0cd;
  font-size: 1.6rem;
}

.panel-body {
  padding: 0 1.6rem;
  border-top: 0.1rem solid #e1e5e7;
  border-bottom: 0.1rem solid #e1e5e7;
}

.line {
  display: flex;
  border-bottom: 0.1rem solid #e1e5e7;
  font-size: 1.6rem;
}

.line:first-child > div {
  display: inline-flex;
  align-items: center;
}

.line:first-child > div > img {
  width: 1.2rem;
  height: 1.2rem;
}

.line:first-child > div:first-child {
  margin: 1.8rem 0.8rem 1.8rem 1.4rem;
  padding-right: 1rem;
  border-right: 0.1rem solid #e1e5e7;
}

.line > label {
  display: inline-flex;
  margin: 1.7rem 0 1.7rem 1.4rem;
  padding-right: 1.3rem;
  border-right: 0.1rem solid #e1e5e7;
  align-items: center;
  color: #999;
}

.line > span {
  flex: 1;
  margin: 1.7rem 0 1.7rem 1.3rem;
}

.line:nth-child(4) > span {
  color: #e26163;
}

.line:last-child {
  border-bottom: 0;
}

footer {
  width: 100%;
  min-width: 28rem;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  display: flex;
  padding: 2rem 1.8rem;
  background-color: #fff;
}

footer > button {
  flex: 1;
  font-size: 1.4rem;
  line-height: 4rem;
  border: 0.2rem solid #5fc0cd;
  border-radius: 0.5rem;
  outline: none;
  background-color: #5fc0cd;
  color: #fff;
}

footer > button:first-child {
  margin-right: 1.3rem;
  background-color: #fff;
  color: #5fc0cd;
}
