html {
    font-size: 62.5%;
}

body {
    background-color: #29bde0;
}

header {
    position: fixed;
    width: 100%;
    min-width: 355px;
    z-index: 9999;
}

.text-center {
    width: 100%;
    height: 5rem;
    padding-top: 2rem;
    font-size: 1.7rem;
    letter-spacing: .2rem;
    text-indent: 0.1rem;
    background-color: #29bde0;
    color: #fff;
}

.menu {
    width: 2rem;
    height: 2rem;
    margin-left: 1.1rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position-x: -3.2rem;
}

.cancel {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1.1rem; 
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position-x: -5.6rem;
}

.well {
    position: relative;
    margin-left: .1rem;
    padding: 1.5rem 2.3rem;
    border: 0;
    border-radius: 0;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    background-color: #b9e9f5;
}

.action {
    position: relative;
    bottom: .4rem;
    left: 1.5rem;
    width: 2.6rem;
    height: 2.6rem;
    border: 0;
    background-color: transparent;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position-x: -7.7rem;
}

.point {
    display: block;
    position: absolute;
    top: 4.8rem;
    left: 3.5rem;
    width: .7rem;
    height: .7rem;
    opacity: .9;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position-y: -3rem;
}

.music {
    position: absolute;
    right: .01rem;
    top: 4.5rem;
    opacity: 0;
    -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
            transform:rotate(180deg);
}

main {
    position: absolute;
    top: 9.8rem;
    bottom: 9.5rem;
    overflow-y: auto;
    width: 100%;
    min-width: 355px;
}

h6 {
    margin: 1.25rem auto 2.2rem 3.65rem;
    color: #fff;
}

.container-fluid {
    min-width: 355px;
    max-width: 360px;
    padding-left: 4rem;
}

.block {
    position: relative;
    float: left;
    width: 6.8rem;
    height: 10.5rem;
    margin-right: 3.5rem;
}

.block:last-child {
    margin-right: 0;
}

.btn {
    outline: none !important;
    border-radius: 0;
}

.btn:hover,
.btn:active {
    box-shadow: none;
}

.btn-lg {
    position: relative;
    width: 6.8rem;
    height: 6.8rem;
    padding: 0;
    border: .25rem solid #fff;
}

.dropdown-toggle:focus,
.btn-group.open .dropdown-toggle {
    outline: none !important;
}

.btn-top {
    font-size: 1.5rem;
    line-height: 5rem;
    background-color: #f5c97b;
    color: #565656;
}

.btn-btm {
    font-size: 1.1rem;
    line-height: 1.3rem;
    background-color: #83b09a;
    color: #fff;
}

.dropdown-menu {
    top: 6.8rem;
    width: 6.8rem;
    min-width: 6.8rem;
    height: 3.7rem;
    margin: 0;
    border: 0;
    padding: 1.1rem 0 1.1rem .05rem;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

li {
    float: left;
    border: 0;
    padding: 0;
    margin-right: .25rem;
    width: 1.5rem;
    height: 1.5rem;
}

.dropdown-menu > li > a {
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    padding: 0;
}

.dropdown-menu > li:last-child {
    margin-right: 0;
}

.dropdown-menu > li:first-child > a {
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position-y: -1.5rem;
}

.dropdown-menu > li:nth-child(2) > a {
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position-x: -1.5rem;
}

.dropdown-menu > li:nth-child(3) > a {
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position: -1.5rem -1.5rem;
}

.dropdown-menu > li:last-child > a {
    background-image: url(spr.png);
    background-repeat: no-repeat;
}

.btn-default:hover,
.open>.dropdown-toggle.btn-default:hover {
    border-color: transparent;
    background-color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 355px;
    height: 9.5rem;
    background-color: #29bde0;
}

.btn-footer {
    width: 24.5rem;
    height: 4.3rem;
    background-color: #fbb435;
    color: #fff;
    outline: none !important;
}

.btn-footer > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 2.9rem;
    text-decoration: none;
    outline: none !important;
    color: #fff;
}