$Green: #29b078;
$LtOran: #f9a372;
$DkOran: #ff640c;
$DkWhte: #fafafa;
$Grey: #e6e6e6;

.w84 {
    width: 8.4rem;
}

.w305 {
    width: 30.5rem;
}

.pt18 {
    padding-top: 1.8rem;
}

.pr64 {
    padding-right: 6.4rem;
}

.pb32 {
    padding-bottom: 3.2rem;
}

.pb230 {
    padding-bottom: 23rem;
}

.pl83 {
    padding-left: 8.3rem;
}

.ml330 {
    margin-left: 33rem;
}

.mb68 {
    margin-bottom: 6.8rem;
}

.bgcgr {
    background-color: $Green;
}

.bgclo {
    background-color: $LtOran;
}

.bgcdw {
    background-color: $DkWhte;
}

.cgr {
    color: $Green;
}

.cdo {
    color: $DkOran;
}

.c99 {
    color: #999;
}

.bdcb-d0 {
    border-bottom-color: #d0d6d9;
}

.bdcg {
    border-color: $Grey;
}

.bdcdo {
    border-color: $DkOran;
}