html {
  font-size: 10px;
  font-size: 62.5%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.topbar {
  background-color: #5fc0cd;
  height: 4.4rem;
  display: flex;
  justify-content: center;
}

.nav-pills {
  margin: 0.5rem 0;
  background-color: #55a8b3;
  color: #fff;
  border-radius: 0.5rem;
}

.nav>li>a {
  background-color: #55a8b3;
  color: #fff;
  padding: 0.7rem 1.5rem;
}

.nav>li.active>a {
  background-color: #fff;
  color: #5fc0cd;
}

.location {
  width: 2.1rem;
  height: 2.2rem;
  background-image: url(spr.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 1.5rem;
  top: 1.1rem;
}

.btn-group {
  display: flex;
}

.dropdown {
  display: inline-flex;
  flex: 1;
  border-bottom: 0.1rem solid #e1e5e7;
}

.dropdown-toggle {
  background-color: #fff;
  color: #999;
  width: 100%;
  border: 0;
  border-right: 0.1rem solid;
  border-image: linear-gradient(#fff, #e1e5e7, #fff)1;
}

.dropdown-menu {
  width: 100%;
  min-width: 70%;
}

.caret {
  position: absolute;
  top: 1.5rem;
  right: 0.6rem;
}

.dropdown-menu>li>a {
  text-align: center;
}

main {
  width: 100%;
  position: absolute;
  top: 7.7rem;
}

.content {
  margin-bottom: 5rem;
}

.panel {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.panel-default {
  border-color: transparent;
 
}

.panel-body {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 1.2rem 1.5rem;
}

.panel-body::before {
  content: none;
}

.panel-body:after {
  content: none;
}

.firstline {
  margin: 1.5rem auto 1.2rem 1.5rem;
}

.calendar {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url(spr.png);
  background-repeat: no-repeat;
  background-position: -7.5rem -3.1rem;
  margin-right: 0.7rem;
}

.date {
  color: #999;
}

.secondline {
  justify-content: space-between;
  margin: 0 3.6rem 1rem 3.4rem;
}

.time {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  color: red;
  font-size: 1.6rem;
}

.jump {
  position: absolute;
  right: -2.2rem;
  width: 1rem;
  height: 1.6rem;
  background-image: url(spr.png);
  background-repeat: no-repeat;
  background-position: -5.9rem -3rem;
}

.thirdline {
  margin: 0 auto 1.2rem 1.5rem;
}

.dian {
  width: 1rem;
  height: 1.2rem;
  background-image: url(spr.png);
  background-repeat: no-repeat;
  background-position: -5.8rem -0.2rem;
  margin-right: 0.7rem;
}

.address {
  color: #999;
}

.navbar-default {
  background-color: #f8fafb;
  height: 5rem;
  }

  .btmbtn-group {
      text-align: center;
  }

  .container-fluid,
  .col-xs-12 {
      padding: 0;
  }

  .btmbtn {
      background-color: transparent;
      padding: 0;
      border: 0;
  }
  .write {
      display: inline-block;
      width: 4.7rem;
      height: 4.7rem;
      background-image: url(spr.png);
      background-repeat: no-repeat;
      background-position-x: -10.2rem;
  }

  .house {
      
      width: 2.4rem;
      height: 2rem;
      background-image: url(spr.png);
      background-repeat: no-repeat;
      background-position:  0.1rem -2.7rem;
  }


  .person {
      
      width: 2.2rem;
      height: 2.1rem;
      background-image: url(spr.png);
      background-repeat: no-repeat;
      background-position-x: -2.6rem;
  }

  .home {
      color: #5fc0cd;
      margin-top: 0.4rem;
  }

  .mine {
      color: #999;
      margin-top: 0.3rem;
  }