html {
    font-size: 10px;
    font-size: 62.5%;
}

body {
    margin: 0
}

.topbar {
    width: 100%;
    height: 4.4rem;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: #5fc0cd;
    font-size: 1.6rem;
    position: fixed;
    z-index: 9999;
}

.topbar-title {
    display: flex;
    justify-content: center;
    margin: 0.9rem 0;
    background-color: #55a8b3;
    border-radius: 0.4rem;
    word-spacing: -0.2rem;
}

.topbar-left {
    line-height: 2.6rem;
    padding: 0 1rem 0 1.2rem;
    border-radius: 0.4rem;
    color: white;
    background-color: #55a8b3;
}

.topbar-right {
    line-height: 2.6rem;
    padding: 0 1.2rem 0 1rem;
    border-radius: 0.4rem;
    color: #5fc0cd;
    background-color: white;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.location {
    width: 2.1rem;
    height: 2.2rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 1.5rem;
    top: 1.1rem;
}

.item {
    position: fixed;
    top: 4.4rem;
    display: flex;
    width: 100%;
    z-index: 9999;
    
}

.itemlist {
    position: relative;
    flex: 1;
    margin: 0 0.1rem 0 0;
    padding: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 4rem;
    text-align: center;
}

.drap {
    border-bottom: 0.1rem solid #e1e5e7;
}

.list {
    background-color: white;
    color: #999;
    display: block;
    width: 100%;
    border-right: 0.1rem solid #e1e5e7;
    border-image:linear-gradient(#fff, #e1e5e7,#fff)1;
    border-bottom: 0.1rem solid #e1e5e7;
}

.point {
    width: 0.65rem;
    height: 0.4rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position: -7.7rem -0.7rem;
    position: absolute;
    right: 0.6rem;
    top: 1.8rem;
}

.itemlist:hover .dropdownlist {
    display: block;
}

.dropdownlist {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    background-color: white;
    color: yellow;
    text-align: center;
    border: 0.1rem solid #e1e5e7;
}

li:hover {
    color: #fff;
    background-color: #55a8b3;
}

main {
    position: absolute;
    top: 8.4rem;
    width: 100%;
    padding-bottom: 5rem;
}

.mainline {
    position: relative;
    border-top: 0.1rem solid #e1e5e7 ;
    overflow-y: auto;
}

.firstline {
    display: flex;
    margin: 1.5rem auto 1.2rem 1.5rem;
    align-items: center;
}

.calendar {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position: -7.5rem -3.1rem;
    margin-right: 0.7rem;
}

.date {
    font-size: 1.3rem;
    color: #999;
}

.secondline {
    display: flex;
    margin: 0 3.6rem 1rem 3.4rem;
    justify-content: space-between;
}

.time {
    font-size: 1.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.price {
    font-size: 1.5rem;
    color: red;
}

.jump {
    position: absolute;
    top: 4.6rem;
    right: 1.6rem;
    width: 1rem;
    height: 1.6rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position: -5.9rem -3rem;
}

.thirdline {
    display: flex;
    margin: 0 auto 1.2rem 1.5rem;
    align-items: center;
}

.dian {
    width: 1rem;
    height: 1.2rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position: -5.8rem -0.2rem;
    margin-right: 0.7rem;
}

.address {
    font-size: 1.3rem;
    color: #999;
}

footer {
    background-color: #f8fafb;
    border-top: 0.1rem solid #e2eaec;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.bottombar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5.1rem;
}

.house {
    display: inline-block;
    width: 2.4rem;
    height: 2rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position:  0.1rem -2.7rem;
}

.home {
    display: inline-block;
    color: #5fc0cd;
}

.round {
    width: 4.7rem;
    height: 4.7rem;
    background-color: #5fc0cd;
    border-radius: 50%;
}

.write {
    display: inline-block;
    width: 4.7rem;
    height: 4.7rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position-x: -10.2rem;
}

.bottombar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5.1rem;
}

.person {
    display: inline-block;
    width: 2.2rem;
    height: 2.1rem;
    background-image: url(spr.png);
    background-repeat: no-repeat;
    background-position-x: -2.6rem;
}

.mine {
    display: inline-block;
    color: #999;
}

