html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    min-width: 28rem;
    height: 4rem;
    font-size: 1.6rem;
    line-height: 4rem;
    text-align: center;
    letter-spacing: .2rem;
    text-indent: .1rem;
    background-color: #5fc0cd;
    color: #fff;
}

.back {
    position: absolute;
    left: 1.25rem;
    top: 1.1rem;
    display: inline-block;
    width: 1rem;
    height: 1.75rem;
    background-image: url(img/back.png);
}

main {
    position: absolute;
    top: 4rem;
    width: 100%;
    min-width: 28rem;
}

.content {
    margin-bottom: 9rem;
}

.bg > img {
    margin-top: -.5rem;
    width: 100%;
    height: 16.4rem;
    background: url(img/1.png);
    background-repeat: no-repeat;
    -webkit-filter: blur(3px);
         -o-filter: blur(3px);
            filter: blur(3px);
    background-size: cover;
}

.information {
    position: absolute;
    top: 4rem;
    width: 100%;
}

.avatar {
    float: left;
    margin-left: 1.5rem;
    width: 8.4rem;
    height: 8.4rem;
}

.information-body {
    float: left;
    margin-left: 2rem;
    color: #fff;
}

.name {
    margin: 1.9rem 0 .6rem 0;
    font-size: 1.8rem;
}

.age {
    font-size: 1.4rem;
}

.location {
    margin: .6rem 0 2.5rem 0;
}

.location-img {
    width: .9rem;
    height: 1.2rem;
    vertical-align: middle;
}

.address {
    font-size: 1.2rem;
    vertical-align: middle;
}

.panel-header {
    margin: 1.7rem 1.5rem;
    padding-left: 1.3rem;
    border-left: .5px solid #5fc0cd;
    font-size: 1.6rem;
}

.panel-body {
    border-top: .5px solid #e1e5e7;
    border-bottom: .5px solid #e1e5e7;
}

.line {
    display: flex;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    border-bottom: 1px solid #e1e5e7;
    vertical-align: middle;
}

.home {
    display: inline-flex;
    margin: 1.8rem .8rem 1.8rem 1.4rem;
    padding: 0 1rem 0 0;
    border-right: 1px solid #e1e5e7;
    align-items: center;
}

.food {
    display: inline-flex;
    align-items: center;
}

.star {
    width: 1.2rem;
    height: 1.2rem;
}

.ask {
    font-size: 1.6rem;
}

label {
    display: inline-flex;
    margin: 1.7rem 0 1.7rem 1.4rem;
    padding-right: 1.3rem;
    border-right: 1px solid #e1e5e7;
    font-size: 1.6rem;
    align-items: center;
    color: #999;
}

.answer {
    flex: 1;
    display: inline-flex;
    margin: 1.7rem 0 1.7rem 1.3rem;
    font-size: 1.6rem;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    padding-bottom: 2rem;
    width: 100%;
    min-width: 28rem;
    background-color: #fff;
}

.message {
    flex: 1;
    padding: 1.3rem 0;
    margin: 2rem 1.8rem 0 1.3rem;
    border: .2rem solid #5fc0cd;
    border-radius: .5rem;
    color: #5fc0cd;
}

.iphone {
    flex: 1;
    padding: 1.3rem 0;
    margin: 2rem 1.8rem 0 0;
    border: .2rem solid #5fc0cd;
    border-radius: .5rem;
    background-color: #5fc0cd;
    color: #fff;
}